@charset "utf-8";

$cm-switch-prefix: ui-switch;

.#{$cm-switch-prefix},
.#{$cm-switch-prefix}-content,
.#{$cm-switch-prefix}-panel {
    display: block;
    position: relative;
}


.#{$cm-switch-prefix} {
    z-index: 1;
    overflow: hidden;
}

.#{$cm-switch-prefix}-content {
    z-index: 2;
}

.#{$cm-switch-prefix}-panel {
    z-index: 3;

    &.hide {
        display: none;
    }

    &.active {
        z-index: 4;
    }
}

.#{$cm-switch-prefix}-nav {
    display: block;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6;

    line-height: 20px;
    font-size: 12px;

    text-align: center;
}

.#{$cm-switch-prefix}-nav-item {
    display: inline-block;
    margin: 0 2px;
    color: #fff;
    opacity: .4;

    &.active {
        opacity: .8;
    }
}

// ---------------------------
// Slider
// ---------------------------

.#{$cm-switch-prefix}-slider {
    .#{$cm-switch-prefix}-content,
    .#{$cm-switch-prefix}-panel {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        overflow: hidden;
    }
}

// ---------------------------
// Gallery
// ---------------------------

.#{$cm-switch-prefix}-gallery {
    .#{$cm-switch-prefix}-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
    }
}
